<%- include ('./partials/header') %>

<div class="container">
    <h1 style="margin:50px 150px">Students in <%=department.name%> Department</h1>
    <table id="content">
        <tr>
            <th>Name</th>
            <th>USN</th>
            <th>Sem</th>
            <th>Roll</th>
        </tr>
        <%department.students.forEach(function(students){%>
            <tr title="click to view more about <%=students.name%>">
                <td><a href="/student/<%=students._id%>"><%=students.name%></a></td>
                <td><%=students.usn%></td>
                <td><%=students.sem%></td>
                <td><%=students.roll%></td>
             </tr> 
        <%})%>
    </table>
</div>